/*==========================Reset==========================*/
* {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 100%;
	outline: none;
	font-weight: 300;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
body {
	background-color: #f5f5f5;
	font-style: 14px;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
img {
	max-width: 100%;
}
/*==========================Reset==========================*/

.cabecalho{
	width: 100%;
	float: left;
	padding: 3% 4%;
}
.logo{
	width: 56px;
	height: 56px;
	float: left;
	background: url(../img/logo-mobile.png) center center/56px no-repeat;
	font-size: 0;
}